@import url('https://fonts.googleapis.com/css?family=Kalam:400,700|Open+Sans:300,400,600');

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
}

a {
    font-family: 'Kalam', cursive;
}


.title-underline {
    width: 10rem;
    border: 5px solid orangered;
    margin: 0 auto 50px auto;
}

.small-title-underline {
    width: 5rem;
    border: 3px solid orangered;
    margin: 0 auto 20px auto;
}

/***** NAVBAR *****/

.navbar-brand {
    font-size: 1.6rem;
}

.nav-link {
    color: orangered!important;
    font-size: 1.3rem;
}

.navbar a:hover {
    color: #fff!important;
    transition-duration: .4s;
}

.navbar-light .navbar-toggler-icon {
    color: #fff!important;
}

/***** END OF NAVBAR *****/



/***** HEADER *****/

header {
    background-image: url(img/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header .box {
    height: 100vh;
    display: flex;
    align-items: center;
}

header .card {
    border-radius: 0;
    border: 3px solid #333;
    background: alicblue;
    opacity: .7;
}

header .card-title {
    color: orangered;
}

header .card a {
    font-size: 1.2rem;
    background: orangered;
    color: #fff;
    padding: 10px 50px;
    border-radius: 0;
}

header .card a:hover {
    background: #333;
    color: #fff;
}

/***** END OF HEADER *****/



/***** INTERESTS *****/

.interests .card {
    position: relative;
}

.interests .title-underline {
    width: 10rem;
    border: 5px solid orangered;
    margin: 0 auto 50px auto;
    background: orangered;
}

.interests .corner-text {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 69, 0, .8);
}

.interests .corner-text p {
    margin-bottom: 0;
    padding: 10px;
    font-weight: 600;
}

.interests img {
    transition: transform 3s ease;
}

.interests img:hover {
    transform: scale(1.3);
}

.holder {
    overflow: hidden;
}


/***** END OF INTERESTS *****/


/***** SKILLS *****/

.skills .title-underline {
    width: 10rem;
    border: 5px solid orangered;
    margin: 0 auto 50px auto;
    background: orangered;
}

/***** END OF SKILLS *****/



/***** PORTFOLIO *****/

.portfolio {
    background: lightgray;
    padding: 2rem;
}

.portfolio .title-underline {
    width: 10rem;
    border: 5px solid orangered;
    margin: 0 auto 50px auto;
    background: orangered;
}

.portfolio .col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}

.portfolio .col-sm-6:hover {
    opacity: .7;
    
}

.portfolio img {
    transition: transform 3s ease;
}

.portfolio img:hover {
    transform: scale(1.3);
}

/***** END OF PORTFOLIO *****/



/***** FOOTER *****/

footer {
    background: orangered;
}

footer .title-underline {
    width: 10rem;
    border: 5px solid #333;
    margin: 0 auto 50px auto;
    background: #333;
}

footer a {
    font-size: 2.5rem;
    color: #000;
    margin: 20px;
}

footer a:hover {
     color: #fff;
     transition-duration: .7s;
}

footer i:hover {
    animation: footer .7s ease;
}

@keyframes footer {
    100% {
        transform: rotate(360deg);
    }
}


/***** END OF FOOTER *****/
